{{$actions := load_actions "show"}}
{{if $actions}}
<div class="qor-page__header">
  {{$actions}}
</div>
{{end}}

<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    <h2>{{.Result.GetJobName}}</h2>
    <form action={{url_for .Result .Resource}} method="POST">
      <input type="hidden" name="_method" value="DELETE"/>
      <input type="submit" value="{{t "kill"}}"/>
    </form>
    <form action={{print (url_for .Result .Resource) "/run"}} method="POST">
      <input type="submit" value="{{t "rerun"}}"/>
    </form>
    <ul>
      <li>
        Status: {{.Result.GetStatus}}
      </li>
      <li>
        Progress: {{.Result.GetProgress}}
      </li>
      <li>
        Progress Text: {{raw .Result.GetProgressText}}
      </li>

      {{if .Result.GetErrorTable.TableCells}}
      <li>
        Errors:
        <table>
          {{range $cells := .Result.GetErrorTable.TableCells}}
          <tr>
            {{range $cell := $cells}}
            <td {{if $cell.Error}}class="has-error"{{end}}>
              {{$cell.Value}}

              {{if $cell.Error}}
              <div class="error">{{$cell.Error}}</div>
              {{end}}
            </td>
            {{end}}
          </tr>
          {{end}}
        </table>
      </li>
      {{end}}

      <li>
        Log Output:
        <div class="log-output">
          {{range $log := .Result.GetLogs}}
            {{$log}}<br>
          {{end}}
        </div>
      </li>
    </ul>
  </div>
</div>
