<div class="mdl-layout__header qor-page__header qor-page-subnav__header">
  <div class="mdl-layout__tab-bar mdl-layout__tab-bar-container">
    {{$order_by := .Context.Request.URL.Query.Get "scopes"}}
    <a class="mdl-layout__tab{{if (eq $order_by "")}} is-active{{end}}" href={{patch_current_url "scopes" ""}}>{{dt "worker.filter.all" "All Jobs"}}</a>
    <a class="mdl-layout__tab{{if (eq $order_by "running")}} is-active{{end}}" href={{patch_current_url "scopes" "running"}}>{{dt "worker.filter.running" "Running"}}</a>
    <a class="mdl-layout__tab{{if (eq $order_by "done")}} is-active{{end}}" href={{patch_current_url "scopes" "done"}}>{{dt "worker.filter.done" "Done"}}</a>
    <a class="mdl-layout__tab{{if (eq $order_by "exception")}} is-active{{end}}" href={{patch_current_url "scopes" "exception"}}>{{dt "worker.filter.errors" "Errors"}}</a>
  </div>
</div>

<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  {{$jobContext := new_resource_context .Result.JobResource}}

  <div class="qor-table-container">
    {{$jobContext.Render "index/table" $jobContext.FindMany}}
  </div>

  {{if has_create_permission .Resource}}
  <a class="mdl-button mdl-button--fab mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--new" href="{{new_resource_path .Resource}}">
    <i class="material-icons">add</i>
  </a>
  {{end}}
</div>
