<div class="qor-page__header">
  <ul class="filters">
    <li>{{ link_to (dt "worker.filter.all" "All Jobs") (patch_current_url "scopes" "") }}</li>
    <li>{{ link_to (dt "worker.filter.running" "Running") (patch_current_url "scopes" "running") }}</li>
    <li>{{ link_to (dt "worker.filter.done" "Done") (patch_current_url "scopes" "done") }}</li>
    <li>{{ link_to (dt "worker.filter.errors" "Errors") (patch_current_url "scopes" "exception") }}</li>
  </ul>
</div>

<div class="qor-page__body">
  {{$jobContext := new_resource_context .Result.JobResource}}

  <div class="qor-table-container">
    {{$jobContext.Render "index/table" $jobContext.FindMany}}
  </div>

  {{if has_create_permission .Resource}}
  <a class="mdl-button mdl-button--fab mdl-button--primary mdl-js-button mdl-js-ripple-effect qor-button--new" href="{{new_resource_path .Resource}}">
    <i class="material-icons">add</i>
  </a>
  {{end}}
</div>
