{{$resource := .Resource}}
{{$worker := .Result}}
{{$grouped_jobs := (get_grouped_jobs .)}}

<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    <div data-toggle="qor.workers">
      {{range $title, $jobs := $grouped_jobs}}
        {{if $title}}
          <h5 class="qor-slideout__sub-title">{{t (print "qor_worker.job_groups." $title) $title}}</h5>
        {{end}}

        {{$show_form := (and (eq (len $grouped_jobs) 1) (eq (len $jobs) 1))}}
        {{range $job := $jobs}}
          <div class="qor-worker-form-list">
            <a href="#" class="qor-worker--new">{{t (print "qor_worker.jobs." $job.Name) $job.Name}}</a>
            <form action="{{url_for $resource}}" method="POST" {{if not $show_form}}class="hidden"{{end}}>
              <input name="job_name" value={{$job.Name}} type="hidden">

              {{render_form $job.NewStruct (new_sections $worker.JobResource)}}

              <div class="qor-form__actions">
                <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">{{t "qor_worker.jobs.run_job" "Run Process"}}</button>
              </div>
            </form>
          </div>
        {{end}}
      {{end}}
    </div>
  </div>
</div>
