{{$resource := .Resource}}
{{$worker := .Result}}
<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    {{range $job := $worker.Jobs}}
      {{dt (print "worker.jobs." $job.Name) $job.Name}}
      <form action="{{url_for $resource}}" method="POST">
        <input name="job_name" value={{$job.Name}} type="hidden">

        {{render_form $job.NewStruct (new_sections $worker.JobResource)}}

        <div class="qor-form__actions">
          <button class="mdl-button mdl-button--colored mdl-button--raised mdl-js-button mdl-js-ripple-effect qor-button--save" type="submit">{{dt "worker.run_job" "Run"}}</button>
        </div>
      </form>
    {{end}}
  </div>
</div>
