{{$actions := load_show_actions}}
{{if $actions}}
<div class="qor-page__header">
  {{$actions}}
</div>
{{end}}

<div class="qor-page__body">
  {{render "shared/flashes"}}
  {{render "shared/errors"}}

  <div class="qor-form-container">
    <ul>
      <li>
        Status: {{.Result.GetStatus}}
      </li>
      <li>
        Progress: {{.Result.GetProgress}}
      </li>
      <li>
        Errors:
        {{.Result.GetErrorTable}}
      </li>
      <li>
        Log Output:
        {{range $log := .Result.GetLogs}}
          {{$log}}<br>
        {{end}}
      </li>
    </ul>
  </div>
</div>
